service: toolsapp-lambda

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  region: ${env:AWS_REGION, 'us-east-1'}
  memorySize: 512
  timeout: 20
  httpApi:
    cors:
      allowedOrigins:
        - ${env:CORS_ORIGIN}
      allowedMethods:
        - GET
        - POST
        - OPTIONS
      allowedHeaders:
        - Content-Type
      allowCredentials: true
  environment:
    DB_HOST: ${env:DB_HOST}
    DB_PORT: ${env:DB_PORT}
    DB_USER: ${env:DB_USER}
    DB_PASSWORD: ${env:DB_PASSWORD}
    DB_NAME: ${env:DB_NAME}
    DB_SSL: ${env:DB_SSL, 'true'}
    S3_BUCKET: ${env:S3_BUCKET}
    S3_REGION: ${env:S3_REGION}
    CORS_ORIGIN: ${env:CORS_ORIGIN, 'http://localhost:3000'}
    COOKIE_SECRET: ${env:COOKIE_SECRET}
    SESSION_TTL_DAYS: ${env:SESSION_TTL_DAYS, '7'}
    SECURE_COOKIE: ${env:SECURE_COOKIE, 'false'}

iam:
  role:
    statements:
      - Effect: Allow
        Action:
          - s3:PutObject
          - s3:GetObject
        Resource:
          - arn:aws:s3:::${env:S3_BUCKET}/*

functions:
  register:
    handler: src/handlers/auth.register
    events:
      - httpApi:
          path: /auth/register
          method: POST
  login:
    handler: src/handlers/auth.login
    events:
      - httpApi:
          path: /auth/login
          method: POST
  logout:
    handler: src/handlers/auth.logout
    events:
      - httpApi:
          path: /auth/logout
          method: POST
  me:
    handler: src/handlers/auth.me
    events:
      - httpApi:
          path: /auth/me
          method: GET
  filesPresign:
    handler: src/handlers/files.presign
    events:
      - httpApi:
          path: /files/presign
          method: POST
  filesFinalize:
    handler: src/handlers/files.finalize
    events:
      - httpApi:
          path: /files/finalize
          method: POST
  filesList:
    handler: src/handlers/files.listFiles
    events:
      - httpApi:
          path: /files
          method: GET
  filesDownload:
    handler: src/handlers/files.downloadFile
    events:
      - httpApi:
          path: /files/{id}/download
          method: GET

package:
  patterns:
    - 'src/**'
    - 'node_modules/**'
    - '!**/*.map'